In [27]:
import pandas as pd

In [29]:
# Load listings and reviews CSVs
listings = pd.read_csv("listings.csv")
reviews = pd.read_csv("reviews.csv")

In [30]:
# Check columns
print("Listings columns:", listings.columns.tolist())
print("Reviews columns:", reviews.columns.tolist())

# See first few rows
listings.head()
reviews.head()

Listings columns: ['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name', 'description', 'neighborhood_overview', 'picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90', 'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy', 'number_of_reviews_ly', 'estimated_occupancy_l365d', 'estimated_revenue_l365d', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'license', 'instant_bookable', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month']
Reviews columns: ['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments']

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,696407278180533419,713696657481444524,2022-09-11,65337174,John,Very nice unit with a great view!
1,696407278180533419,739890699236423174,2022-10-17,127952984,Yuliya,place is better than on the photos. location i...
2,696407278180533419,753655979515222624,2022-11-05,173993584,Nicolas,"Great location, amazing view, good neighbourho..."
3,696407278180533419,758745845104067420,2022-11-12,9475139,Candice,The week-long stay was indeed everything I cou...
4,696407278180533419,766646766641204641,2022-11-23,31422369,Artyom,Great experience! Amazing location! Epic view!...

In [33]:
# Keep essential fields from listings
listings = listings[[
    'id', 'name', 'neighbourhood_cleansed', 'room_type', 'latitude' , 'longitude' , 'property_type' ,
    'price', 'number_of_reviews', 'availability_365',
    'review_scores_rating', 'host_id', 'minimum_nights'
]]

# Keep key fields from reviews
reviews = reviews[['listing_id', 'date', 'comments']]

In [35]:
listings['price'] = listings['price'].replace(r'[\$,]', '', regex=True).astype(float)

In [37]:
listings['id'] = listings['id'].astype(str)
listings['host_id'] = listings['host_id'].astype(str)
reviews['listing_id'] = reviews['listing_id'].astype(str)

In [39]:
# Join on listing_id = id
merged = pd.merge(reviews, listings, left_on='listing_id', right_on='id', how='left')

In [43]:
merged.to_csv("airbnb_cleaned.csv", index=False)